.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-dark2{
    color: #424242;
}
.text-dark3{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgb(255, 144, 14);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main{
    margin: 0 auto;
    max-width: 1280px;
}
main > section{
    margin-top: 130px;
}
/* header styles */

/* navbar styles */
.nav-links{
    list-style: none;
    }
.nav-items{
    margin-right: 50px;
}
.link{
    text-decoration: none;
}
.nav-itemh{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-itemh, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* Banner styles content */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
.banner-image{
    width: 100%;
}
/* team display styles */
.teams{
    text-align: center;
    }
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features{
    max-width: 576px;
    margin-left: 100px;
}
.feature-title{
    text-align: left;
}
.feature-description{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
#p1{
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
}
#p2{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;    
}
#p3{
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}
/* Love and Enjoy */
.love-title{
color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
line-height: 53px;
letter-spacing: 0%;
text-align: left;
}
.love-description{
color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
/* Media responsive styles */
@media screen and (max-width: 576px) {
.nav-itemh, 
.nav-links,
.teams
{
    flex-direction: column;
}    
.team-image-container{
    grid-template-columns: repeat(1, 1fr);
}
.features{
margin: 20px auto;
}

}
/* medium size device responsive styles */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
}